 td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 46px;
} 

table {
  border-collapse: collapse;
}

body {
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
